{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Blog</h2>
            <hr>
        </div>
    </div>
    <div class="row blog">
        <div class="col post_list">
            {% for post in post_list %}
                <div class="card">
                    <div class="card-img-top">
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img src=" {{ post.featured_image.url }}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title text-black">{{ post.title|truncatechars:80 }}</h2>
                                <p class="card-text text-black">{{ post.excerpt|truncatechars:100 }}</p>
                            </a>
                    </div>
                    <div class="card-footer">
                        <small class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</small>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{%endblock%}